extends ./layout.jade

block title
    title Law a Society &amp; People Category Flat Bootstrap responsive Website Template | Clients :: w3layouts

block menu
    li
        a(href='index.html') Home
    li
        a(href='practice.html') Practice
    li.active
        a(href='clients.html') Clients
    li
        a(href='resources.html') Resources
    li
        a(href='typo.html') Typo
    li
        a(href='contact.html') Contact

block content
    // clients
    .clients
        .container
            .cli-top
                .col-md-4.clients-left
                    img.img-responsive(src='images/12.jpg', alt=' ')
                    h5
                        a(href='#') Roger
                    p
                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    a.hvr-shutter-in-horizontal(href='#') More
                .col-md-4.clients-left
                    img.img-responsive(src='images/13.jpg', alt=' ')
                    h5
                        a(href='#') Sander
                    p
                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    a.hvr-shutter-in-horizontal(href='#') More
                .col-md-4.clients-left
                    img.img-responsive(src='images/14.jpg', alt=' ')
                    h5
                        a(href='#') Lawrence
                    p
                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                    a.hvr-shutter-in-horizontal(href='#') More
                .clearfix
            .col-md-4.clients-left
                img.img-responsive(src='images/15.jpg', alt=' ')
                h5
                    a(href='#') Reese
                p
                    | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                a.hvr-shutter-in-horizontal(href='#') More
            .col-md-4.clients-left
                img.img-responsive(src='images/16.jpg', alt=' ')
                h5
                    a(href='#') Donald
                p
                    | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                a.hvr-shutter-in-horizontal(href='#') More
            .col-md-4.clients-left
                img.img-responsive(src='images/17.jpg', alt=' ')
                h5
                    a(href='#') Sandford
                p
                    | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                a.hvr-shutter-in-horizontal(href='#') More
            .clearfix
    // clients-end
