extends ./layout.jade

block title
    title Law a Society &amp; People Category Flat Bootstrap responsive Website Template | Practice :: w3layouts

block menu
    li
        a(href='index.html') Home
    li.active
        a(href='practice.html') Practice
    li
        a(href='clients.html') Clients
    li
        a(href='resources.html') Resources
    li
        a(href='typo.html') Typo
    li
        a(href='contact.html') Contact

block content
    // practice
    .practice
        .container
            .col-md-4.practice-left
                h3 Practice of Law
                ul
                    li
                        a(href='#')
                            span
                            | Social Security Law
                    li
                        a(href='#')
                            span
                            | Real Property Law
                    li
                        a(href='#')
                            span
                            | Criminal Law
                    li
                        a(href='#')
                            span
                            | intellectual property
                    li
                        a(href='#')
                            span
                            | Serious Personal Injury Cases
                    li
                        a(href='#')
                            span
                            | Immigration Law
                    li
                        a(href='#')
                            span
                            | Criminal Law
                    li
                        a(href='#')
                            span
                            | intellectual property
                    li
                        a(href='#')
                            span
                            | Criminal Law
                    li
                        a(href='#')
                            span
                            | Business Law
                    li
                        a(href='#')
                            span
                            | Malpractice Law
                    li
                        a(href='#')
                            span
                            | Family Law
                    li
                        a(href='#')
                            span
                            | Insurance Law
                    li
                        a(href='#')
                            span
                            | Security Law
            .col-md-8.practice-right
                h3 Practice Center
                p
                    | Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis
                    | natoque penatibus et magnis dis parturient montes, nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio
                .pra-lft
                    img.img-responsive(src='images/20.jpg', alt=' ')
                .pra-rgt
                    p
                        | Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis
                        | natoque penatibus et magnis dis parturient montes, nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio
                    p
                        | Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.
                .clearfix
                p
                    | Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes,Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio
            .clearfix
            .pra-tp
                h3 Private Practice
                .col-md-4.pr-rgt
                    img.img-responsive(src='images/5.jpg', alt=' ')
                .col-md-8.pr-lft
                    p
                        | Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes,Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio
                    p
                        | Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes,Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio nascetur ridicu-lus mus. Nulla dui. Fusce feugiat malesuada odio
                .clearfix
    // practice-end
