extends ./layout.jade

block title
    title Law a Society &amp; People Category Flat Bootstrap responsive Website Template | Resources :: w3layouts

block menu
    li
        a(href='index.html') Home
    li
        a(href='practice.html') Practice
    li
        a(href='clients.html') Clients
    li.active
        a(href='resources.html') Resources
    li
        a(href='typo.html') Typo
    li
        a(href='contact.html') Contact

block content
    // resource
    .resource
        .container
            .col-md-8.resource-lft
                h3 Legal help & resources
                .res-top
                    .col-md-6.re-lft
                        img.img-responsive(src='images/12.jpg', alt=' ')
                    .col-md-6.re-rgt
                        h4 Making it look like readable English
                        p
                            | Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, as opposed to using.making it look like readable English.
                        a.hvr-shutter-in-horizontal(href='#') More
                    .clearfix
                .res-top
                    .col-md-6.re-lft
                        img.img-responsive(src='images/14.jpg', alt=' ')
                    .col-md-6.re-rgt
                        h4 Making it look like readable English
                        p
                            | Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, as opposed to using.making it look like readable English.
                        a.hvr-shutter-in-horizontal(href='#') More
                    .clearfix
            .col-md-4.resource-rgt
                h3 Resources for : 
                h4 Making it look like readable English
                p
                    | Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed    more-or-less normal distribution    to using 'Content here, as opposed to using.making it look like readable English.
                ul
                    li
                        a(href='#')
                            span
                            | Social Security Law
                    li
                        a(href='#')
                            span
                            | Real Property Law
                    li
                        a(href='#')
                            span
                            | Criminal Law
                    li
                        a(href='#')
                            span
                            | intellectual property
                    li
                        a(href='#')
                            span
                            | Serious Personal Injury Cases
                    li
                        a(href='#')
                            span
                            | Immigration Law
                    li
                        a(href='#')
                            span
                            | Criminal Law
                    li
                        a(href='#')
                            span
                            | intellectual property
                    li
                        a(href='#')
                            span
                            | Criminal Law
            .clearfix
            .about1-bottom2
                .col-md-4.about1-bottom1
                    span 01
                    h5
                        a(href='#') At vero eos et accusamus et iusto odio dignissimos 
                    p
                        | Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock
                .col-md-4.about1-bottom1
                    span 02
                    h5
                        a(href='#') At vero eos et accusamus et iusto odio dignissimos 
                    p
                        | Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock
                .col-md-4.about1-bottom1
                    span 03
                    h5
                        a(href='#') At vero eos et accusamus et iusto odio dignissimos 
                    p
                        | Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock
                .clearfix    
    // resource-end
