// footer-starts
.footer
    .container
        .col-md-4.contact-left
            h4 Address
            .cont-tp
                span.glyphicon.glyphicon-map-marker(aria-hidden='true')
            address
                | 795 Folsom Ave, Suite 600
                br
                | San Francisco, CA 94107
                br
                abbr(title='Phone') P :
                | (123) 456-7890
        .col-md-4.contact-left
            h4 Phone/Fax
            .cont-tp
                span.glyphicon.glyphicon-phone(aria-hidden='true')
            p Phone : +1234567890 
            p Phone : +1234567890 
            p Fax : +1234567890 
        .col-md-4.contact-left
            h4 Newsletter
            .cont-tp
                span.glyphicon.glyphicon-envelope(aria-hidden='true')
            form
                input(type='text', value='Enter Your email', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Enter Your email';}")
                input(type='submit', value='Subscribe')
        .clearfix
        .footer-text
            p
                | © 2016 Law. All Rights Reserved | Design by    
                a(href='http://w3layouts.com/', target='_blank') W3layouts
// footer-end
