// start-header
.header
    .container
        .head
            .soc
                ul
                    li
                        a(href='#')
                            span.fb 
                    li
                        a(href='#')
                            span.twit 
                    li
                        a(href='#')
                            span.pin 
                    li
                        a(href='#')
                            span.rss 
                    li
                        a(href='#')
                            span.drbl 
                    .clearfix
            .header-right
                .search-bar
                    form
                        input(type='text', value='Search', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search';}")
                        input(type='submit', value='')
            .clearfix
