// header-top-starts
.header-top
    .container
        .head-main
            h1
                a(href='index.html') LAW
        .hea-rgt
            a(href='#') Get Appointment
        .navigation
            nav.navbar.navbar-default(role='navigation')
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        block menu
        .clearfix
// header-top-end
